@import "tailwindcss";
@import "./fonts.css";

* {
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: auto;
}
body {
    height: auto;
    overflow: visible;
}
